# print the first n natural numbers start 1 to n?

In [1]:
n=int(input())
for i in range(1,n+1):
    print(i)

 10

1
2
3
4
5
6
7
8
9
10

In [2]:
n=int(input())
i=1
while i<=n:
    print(i)
    i+=1

 10

1
2
3
4
5
6
7
8
9
10